{% extends 'default.html' %}

{% load static %}
{% block css %}
  
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center; margin-top: 200px;">
        <h3>Welcome to Reflective Writing Tool</h3>
        {% if user.is_authenticated %}
        <a href="{% url 'myreflections' %}">Go to dashboard</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <br>
        New to the application? <a href="{% url 'users:signup' %}">Create New Account</a>
        {% endif %}

        <br>
        <br>
        <h3>Want to learn about reflection writing?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QoI67VeE3ds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
      $(document).ready(function(){
        
      });
    </script>
{% endblock %}