{% extends 'default.html' %}

{% load static %}
{% block css %}
  
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{ type|title }} Project</li>
{% endblock%}

{% block content %}
  
          {% if projectForm.errors %}
            <div class="alert alert-danger">
                <ul>
                {% for field in projectForm %}
                <li>{{ field.errors|striptags }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

          {% if messages %}
            {% for message in messages %}
              {% if message.tags == "success" %}
              <p class="alert alert-success">{{ message }}</p>
              {% else %}
              <p class="alert alert-danger">{{ message }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Add/Edit Project</div>
            <div class="card-body">
              {% if type == 'edit' %}
              <form action="{% url 'projects:edit' projectForm.instance.id %}" method="post">
              {% else %}
              <form action="{% url 'projects:create' %}" method="post">
              {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Project name</label>
                      <div class="form-label-group">
                        {{ projectForm.name }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label>Description</label>
                      <div class="form-label-group">
                        {{ projectForm.description }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                      <label>Start Date</label>
                      <div class="form-label-group">
                        {{ projectForm.start_date }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>End Date</label>
                      <div class="form-label-group">
                        {{ projectForm.end_date }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                  </div>
                </div>
              </form>
              
              <!-- <hr>
              <h3>Project Members</h3>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="email" id="member" class="form-control" placeholder="User's email address" required="required">
                      <label for="member">Email address</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Member</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mahesh</td>
                          <td>mahesh.gru03@gmail.com</td>
                          <td>
                            <div class="action">
                                <a href="" class="remove text-danger" data-toggle="tooltip" title="Delete"><i class="far fa-times-circle"></i></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
      $(document).ready(function(){
        $('.toggle-questions').click(function(e){
          e.stopPropagation();
          var thisbtn = $(this);
          var questionBoxId = thisbtn.data('target');

          $(questionBoxId).slideToggle("slow");
        });

        $('#id_start_date, #id_end_date').datepicker({
          format: 'yyyy-mm-dd',
        });
      });
    </script>
{% endblock %}