{% extends 'default.html' %}

{% load static %}
{% block css %}
<style type="text/css">
  canvas{

  /*width:1000px !important;*/
  height:300px !important;

}
</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Reflection Details</li>
{% endblock%}

{% block content %}

          {% if messages %}
            {% for message in messages %}
              {% if message.tags == "success" %}
              <p class="alert alert-success">{{ message }}</p>
              {% else %}
              <p class="alert alert-danger">{{ message }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              {% if reflection.created_by_id == user.id %}
              <a href="{% url 'reflections:download' reflection.id %}" class="float-right text-primary" data-toggle="tooltip" title="Download"><i class="fas fa-download"></i> Download</a>
              {% endif %}

              <i class="fas fa-table"></i>
              {{ reflection.title }}</div>
              <div class="card-body">
                <div class="row">
                  {% if user.id == reflection.created_by_id %}
                  <div class="col-lg-12">
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fas fa-chart-bar"></i>
                        Word Frequency</div>
                      <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="50"></canvas>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="card {% if user.id == reflection.created_by_id %} col-md-9 {% else %} col-md-12 {% endif %}">
                    <!-- <div class="card"> -->
                      <!-- <div class="card-header" id="headingOne"> -->
                        <h5 class="mb-0">
                          <button class="btn btn-link">
                            Situation
                          </button>
                        </h5>
                      <!-- </div> -->

                      <div id="situation">
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <p class="text-content">{{ details.situation }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="card"> -->
                      <!-- <div class="card-header" id="headingTwo"> -->
                        <h5 class="mb-0">
                          <button class="btn btn-link">
                            Experience
                          </button>
                        </h5>
                      <!-- </div> -->
                      <div id="experience">
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <p class="text-content">{% if details.has_experience %}{{ details.experience }}{% else %}Didn't have previous relavant experience{% endif %}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="card"> -->
                      <!-- <div class="card-header" id="headingThree"> -->
                        <h5 class="mb-0">
                          <button class="btn btn-link">
                            Reasoning and Analysis
                          </button>
                        </h5>
                      <!-- </div> -->
                      <div id="reasoning">
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <p class="text-content">{% if details.has_experience %}{{ details.experience_helpful }}{% endif %}<br>{{ details.factors }}<br>{{ details.emotions }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="card"> -->
                      <!-- <div class="card-header" id="headingFour"> -->
                        <h5 class="mb-0">
                          <button class="btn btn-link">
                            Learning and Conclusion
                          </button>
                        </h5>
                      <!-- </div> -->
                      <div id="learning">
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <p class="text-content">{{ details.solutions }}<br>{{ details.learnings }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                  {% if user.id == reflection.created_by_id %}
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link">
                            Reflection Feedbacks
                          </button>
                        </h5>
                      </div>

                      <div id="stats">
                        <div class="card-body">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <div class="table-responsive">
                                  <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <!-- <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Created By</th>
                                        <th>No. of Members</th>
                                        <th>Start Date</th>
                                        <th>End date</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead> -->
                                    <tbody>
                                      <tr>
                                        <td>
                                        Automated Readability Index
                                        {% if details.readability.ARI < 9 %}
                                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="You have lower readability index. It is easier to read but not at the standard of your level of study. Choose your words carefully and you may also have many shorter sentences.">
                                        {% elif details.readability.ARI >= 14 %}
                                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="You have higher readability index meaning it is quite difficult to read. Choose your words carefully and check to see if you have sentences with more than 15 words.">
                                        {% endif %}
                                        </td>
                                        <td>{{ details.readability.ARI | floatformat:2 }} ({{ details.readability.gradeAri }} Grade)</td>
                                      </tr>
                                      <tr>
                                        <td>Coleman-Liau Index</td>
                                        <td>{{ details.readability.CLI | floatformat:2 }} ({{ details.readability.gradeCli }} Grade)</td>
                                      </tr>
                                      <tr>
                                        <td>Words Count</td>
                                        <td>{{ details.readability.stats.noOfWords }}</td>
                                      </tr>
                                      <tr>
                                        <td>Unique Words</td>
                                        <td>{{ details.readability.stats.noOfUniqueWords }}</td>
                                      </tr>
                                      <tr>
                                        <td>Lexical Diversity</td>
                                        <td>{{ details.readability.stats.lexicalDiversity | floatformat:2 }}% (unique words)</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="card border-primary mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                Feedbacks
              </div>
              <div class="card-body">
                {% if user.id != reflection.created_by_id %}
                <div class="card mb-3">
                  <div class="card-header">
                  <i class="fas fa-table"></i>
                  Provide Feedbacks
                </div>
                <div class="card-body">
                  {% if discussionForm.errors %}
                  <div class="alert alert-danger">
                      <ul>
                      {% for field in discussionForm  %}
                      <li>{{ field.errors|striptags }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                <form method="post" action="{% url 'reflections:view' reflection.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label><h3>Reflection</h3></label>
                        <div class="form-label-group">
                          {% for choice in discussionForm.reflection_feedback %}
                                <div class="form-check">
                    <label>{{ choice.tag }}
                    {{ choice.choice_label }}</label>
                                </div>
                {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label><h3>Experience</h3></label>
                        <div class="form-label-group">
                          {% for choice in discussionForm.experience_feedback %}
                                <div class="form-check">
                    <label>{{ choice.tag }}
                    {{ choice.choice_label }}</label>
                                </div>
                {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label><h3>Learning</h3></label>
                        <div class="form-label-group">
                          {% for choice in discussionForm.learning_feedback %}
                                <div class="form-check">
                    <label>{{ choice.tag }}
                    {{ choice.choice_label }}</label>
                                </div>
                {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label><h3>Your Feedback 
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Provide constructive and useful feedback. Try to provide suggestion and reasoning for the feedback. For eg. 'I don't think this is best approach.....because..."></i>
                          </h3></label>
                        <div class="form-label-group">
                          {{ discussionForm.feedback }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="Save">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              </div>
                {% endif %}
                  {% for feedback in reflection.reflection_discussions.all %}
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <span>{{ feedback.created_at }}</span>
                      <p>
                        {% if user.id == feedback.user_id %}
                          {{ user.username }}
                        {% else %}
                          Anonymous
                        {% endif %}
                      </p>
                    </div>
                    <div class="col-md-8">
                      <h4>Reflection:</h4>{{ REFLECTION_CHOICES|get_item:feedback.reflection_feedback }}<br>
                      <h4>Experience:</h4>{{ EXPERIENCE_CHOICES|get_item:feedback.experience_feedback }}<br>
                      <h4>Learning:</h4>{{ LEARNING_CHOICES|get_item:feedback.learning_feedback }}<br>
                      <h4>Feedback:</h4>
                      {{feedback.feedback}}
                    </div>
                    {% if feedback.created_by_id == user.id %}
                    <div class="col-md-1">
                      <a href="{% url 'reflections:delete-feedback' reflection.id feedback.id %}" class="text-primary" data-toggle="tooltip" title="Remove"><i class="far fa-times-circle"></i></a>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}

              </div>
            </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var wordList = {{ details.wordFrequency|safe }};
</script>
<script type="text/javascript" src="{% static 'reflections/js/reflection-details.js' %}"></script>
<script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('.toggle-questions').click(function(e){
          e.stopPropagation();
          var thisbtn = $(this);
          var questionBoxId = thisbtn.data('target');

          $(questionBoxId).slideToggle("slow");
        });
      });
    </script>
{% endblock %}